@import './variables.scss';

.heading-letter-spacing {
  letter-spacing: $heading-letter-spacing;
}

.paragraph-letter-spacing {
  letter-spacing: $paragraph-letter-spacing;
}

.social-icon {
  color: #f0f8ff;
  font-size: 2.5rem;
  opacity: .7;
  text-decoration: none;

  &:hover {
    color: #f0f8ff;
    opacity: 1;
  }
}

.dot {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #7c8c8e;
}
