$primary: rgba(25, 12, 199, 1);
$secondary: #df188c;
$hover: #faaaaf;

$font-color-light: #4c4c4c;
$bg-color-light: #fff;
$heading-color-light: rgba(25, 12, 199, 1);

$font-color-dark: #e1e1ff;
$bg-color-dark: #212121;
$heading-color-dark: #a6ff00;

$black: #000;
$white: #fff;