@import 'colors';

:root {
  --icon-color: #000;
  --icon-hover-color: #424242;
  --hits-results: #fff;
  --hit-div: #555;
  --hit-hover: #ddd;
  --hits-results-color: #212121;
}

[data-theme="dark"] {
  --icon-color: #fff;
  --icon-hover-color: #ccc;
  --hits-results: #424242;
  --hit-div: #faaaaf;
  --hit-hover: #868686;
  --hits-results-color: #cdcdcd;
}

.nav-link {
  color: $secondary;

  &:hover {
    text-decoration: none !important;
  }
}

.github {
  color: var(--icon-color);
  transition: color .3s ease-in-out;

  &:hover {
    color: var(--icon-hover-color);
    transition: color .3s ease-in-out;
  }
}

.ais-InstantSearch__root {
  position: relative;
}

.ais-SearchBox-input {
  border-radius: .25rem;
  // border-top-left-radius: .25rem;
  // border-bottom-left-radius: .25rem;
  border: 1px solid #424242;
  // border-right: none;
  height: 32px;

  &:focus {
    outline: $secondary auto 5px;
  }
}

.ais-SearchBox-submit {
  display: none;
}

.ais-SearchBox-reset {
  display: none;
}

.ais-Hit {
  background: var(--hits-results);
  transition: background .3s ease-in-out;

  > span {
    background: var(--hits-results);
    color: $secondary !important;
  }

  > div {
    background: var(--hits-results);
    color: var(--hit-div) !important;
  }

  &:focus,
  &:hover {
    background: var(--hit-hover);
    transition: background .3s ease-in-out;

    > span {
      background: var(--hit-hover);
    }

    > div {
      background: var(--hit-hover);
    }
  }
}

.ais-Hits {
  background: var(--hits-results);
  border: 1px solid #424242;
  border-bottom-left-radius: .25rem;
  border-bottom-right-radius: .25rem;
  position: absolute;
  top: 32px;
  width: 100%;
  transition: background .3s ease-in-out;
}

.ais-Hits-list {
  background: var(--hits-results);
  color: var(--hits-results-color);
  list-style: none;
  padding-left: 0;
  padding-right: 0;
  // padding-left: .25rem;
  // padding-right: .25rem;
  width: 100%;
  z-index: 10000;
}

// .ais-SearchBox { margin: 1em 0; }
// .ais-Pagination { margin-top: 1em }
// .left-panel { float: left; width: 250px; }
// .right-panel { margin-left: 260px; }
// .ais-InstantSearch { max-width: 960px; overflow: hidden; margin: 0 auto }
.ais-Hits-item { margin-bottom: 1em; width: calc(50% - 1rem) }
// .ais-Hits-item img { margin-right: 1em }
// .hit-name { margin-bottom: .5em }
// .hit-description { color: #888; font-size: 14px; margin-bottom: .5em }
